# generated resource files
resources/cleaned/*

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
db.sqlite3
.env
.venv
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints/
jupyter_notebook_config.py

# macOS artifacts
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Windows artifacts
Thumbs.db
Desktop.ini

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.swn
